$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "node_modules/bootstrap/scss/bootstrap";
$font-color:#2B3B43;
$font-main-color:#fff;
$top-bg:#2CB8E1;
body {
    background: #fff;
    color: $font-color;
    font-weight: inherit;
}

form a{
    margin-left: 5px;
}